.venv
__pycache__
input/
.DS_Store
output/*/*.jpg
dataset/
dataset*/
output/history*
output/logs**
output/hyperband*

Data/
Data/Img/*
untitled_project/trial_0000/checkpoint.weights.h5
venv/
.venv/
output/
Legacy/